/******************************* General properties   ******************************/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
}

body{
    background-color: #E8F6EF;
    color: #345B63;
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

h2{
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    text-align: center;
}

h3{
    font-family: 'Sacramento', cursive;
    font-size: 35px;
    text-align: center;
}

p{
    font-size: 18px;
    text-align: center;
}

/*************************** Top container properties ******************************/
div{
    position: relative;
}

.top{
    height: 100vh;
    width: 100%;
}

.topH2{
    font-family: 'Sacramento', cursive;
    font-size: 66px;
    text-align: center;
    padding-top: 200px;
}

.topP{
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 46px;
}

img{
    display: inline-block;
}

.first_cloud{
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 65%;
}

.second_cloud{
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 25%;
}

.mountain{
    display: inline-block;
    position: absolute;
    bottom: 100px;
    left: 33%;
}

/*************************** Middle container properties ***************************/
.middle{
    height: 90vh;
    position: relative;
}

.profile{
    height: 33%;
}

.skills{
    height: 66%;
}

.myPhoto{
    position: absolute;
    top: 35px;
    left: 45%;

}

.photoH2{
    padding-top: 200px;
}

.mySkill{
    float: left;
}

.skillsH2{
    padding-top: 70px;
}

.skillsH3{
    text-align: left;
    margin-left: 180px;
}

.skillP1{
    text-align: left;
    line-height: 1.5;
    margin-left: 180px;
}

.skillsP2{
    padding-top: 10px;
}

.skill-row{
    width: 50%;
    height: 150px;
    margin: 50px auto 50px auto;
}

.mySkill2{
    float: left;
}

/*************************** Bottom container properties ***************************/

.div-btn{
    position: relative;
}

.btn1{
    text-decoration: none;
    display: inline-block;
    color: #345B63; 
    padding-top: 12px;
    padding-left: 8px;
    height: 50px;
    width: 140px;
    background-color: #FFEF78;
    border-radius: 10px;
    position: absolute;
    left: 30%;
    margin-top: 10px;
}

.btn2{
    text-decoration: none;
    display: inline-block;
    color: #345B63; 
    padding-top: 12px;
    padding-left: 24px;
    height: 50px;
    width: 140px;
    background-color: #FFEF78;
    border-radius: 10px;
    position: absolute;
    left: 40%;
    margin-top: 10px;
}

.btn3{
    text-decoration: none;
    display: inline-block;
    color: #345B63; 
    padding-top: 12px;
    padding-left: 28px;
    height: 50px;
    width: 140px;
    background-color: #FFEF78;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    margin-top: 10px;
}

.btn4{
    text-decoration: none;
    display: inline-block;
    color: #345B63; 
    padding-top: 12px;
    padding-left: 30px;
    height: 50px;
    width: 140px;
    background-color: #FFEF78;
    border-radius: 10px;
    position: absolute;
    left: 60%;
    margin-top: 10px;
}

.btn1:hover{
    background-color: #57CC99;
    color: white;
}

.btn2:hover{
    background-color: #57CC99;
    color: white;
}

.btn3:hover{
    background-color: #57CC99;
    color: white;
}

.btn4:hover{
    background-color: #57CC99;
    color: white;
}

.bottomP{
    padding-bottom: 30px;
    padding-top: 90px;
}

